oauth==1.0.1
pyserial==3.4
user-agents==2.0
ua-parser==0.8.0
six==1.11.0
mako==0.9.1
MarkupSafe==1.1.1
chardet==3.0.4
certifi==2019.9.11
requests==2.10.0
collectd==1.0
argparse==1.4.0
apache-log-parser==1.7.0
MYSQL-python==1.2.3
psutil==5.6.6
pyjolokia==0.3.1
psycopg2-binary==2.7.5
pytz==2019.3
idna==2.7
ipaddress==1.0.22
pconf==1.4.0
pycparser==2.19
simplejson==3.16.0
urllib3==1.23
lxml==4.4.1
web.py==0.38
elasticsearch==6.4.0
